@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*dapin*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
		background-image: url(../assets/img/maze.png);
		background-size: auto;
		margin: 0;
		display: grid;
}

video {
	position: relative;
	width: 100%;
	top 0;
	height: auto;
}

h1 {
	color: white;
}

/*https://markgoodyear.com/labs/scrollup/*/
#scrollUp {
    background-image: url("../assets/img/top.png");
    background-color: transparent;
    color: transparent;
    bottom: 20px;
    right: 20px;
    width: 38px;    
    height: 38px;   
}

li, a, button {
	background-color: white;
	font-family: "poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: black;
	text-decoration: none;
}

header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}


.logo {
	cursor: pointer;
	margin-right: auto;
}

.navbar {
	
	list-style: none;
}

.navbar li {
	background-color: white;
	display: inline-block;
	padding: 0px 20px;
}

.navbar li a {
	background-color: white;
	transition: all 0.3s ease 0s;
}

.navbar li a :hover {

	color: #0088a9;
}

/*button {
	color: black;
	border: none;
}


.cta {
	color: black;
	margin-left: 20px;
	padding: 9px 25px;
	border-style: solid;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}*/

/*https://www.youtube.com/watch?v=TuBwe6SLRlU*/
.barang { 
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
	column-gap: 10px;
	grid-row-gap: 10px;
}

.barang img {
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.h {
	color: white;
	text-align: left;
	margin-left: 50px;
}

/*.carousel {
	background: $fafafa;
}*/


/*https://www.youtube.com/watch?v=GCShMQPsTG8*/
.carousel-cell{ 
	position: relative;
	width: 100%;
	height: 300px;
	margin-right: 10px;
	background-color: black;
	border-radius: 5px;
/*	counter-increment: carousel-cell;*/
}

/*https://www.youtube.com/watch?v=52ZLjnTPPl4*/
.footer {
	display: flex;
	padding: 50px;
	color: black;
	background-color: white;
}

.footer-1 {
	font-family: "poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-left: 500px;
}

.footer-1 li{
	list-style: none;
}

.footer-2 {
	
	margin-left: 250px;
	color: #999;
	padding-top: 350px;
}



/*dapin*/